@import url('https://fonts.googleapis.com/css?family=Kurale|Open+Sans|Dosis');

* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

/* BODY */

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'Kurale';
}

/* HEADER */

header {}

/* NAVIGATION */

nav {
    position: fixed;
    z-index: 50;    
    width: 100%;
    height: 5em;
    background: rgba(0, 0, 0, .9);
}

/* Navigation list */

nav ul {
    list-style: none;
    text-align: center;
    padding-top: 1.5em;
}

/* Navigation item */

nav ul li {
    display: inline;
    margin-right: 1em;
}

/* Last navigation item */

nav ul li:last-child {
    margin-right: 0;
}

/* Navigation links */

nav ul li a,
nav ul li a:visited,
nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active,
nav ul li.active a {
    display: inline;
    font-size: 1em;
    text-decoration: inherit;
    color: rgba(255, 255, 255, .5);
    text-transform: capitalize;
}

/* Active item and hover on link */

nav ul li a:hover,
nav ul li.active a {
    color: white;
}


/*---------------------------------------------------------------------------
 * MAIN
 *----------------------------------------------------------------------------*/
main{
}

section {
    display: block;
    width: 100%;
    position: relative;
}
section:hover {
    background-blend-mode: darken;
}


section article {
    width: 100%;
    min-width: 300px;
    /*margin: 0 auto;
    padding: 50px 0;*/
    font-family: 'Kurale';
    
}

h1 {
    padding-top: 20vh;
    text-align: center;
    bottom: 50%;
    font-size: 3em;
    line-height: 70px;
    font-weight: 600;
    text-transform: uppercase;
}

section article h2 {
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 45px;
    font-weight: 600;
}

section article h3 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    color: #56b225;
}

section article p {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

section article .colum {
    display: inline-block;
    width: 39%;
    margin: 50px 5%;
}

/* ahome Section */
#ahome {
    background: url(http://source.unsplash.com/random?pencil) no-repeat center center fixed;
    background-size: cover;    
}
#ahome article {
    min-height:100vh;
    color: #fff;
    background: rgba(0,0,0,.5);
    transition: background ease 5s, color ease 5s;
}

#ahome article:hover {
    background: none;
}

#ahome article h1 {
    padding-top: 45vh;
}

/* LATEST Section */
#aultimas {
    background: url(http://source.unsplash.com/random?map) no-repeat center center fixed;
    background-size: cover;    
}

#aultimas article {
    min-height: 100vh;
    background: rgba(75,100,0,.95);
    color: #fff;
    transition: background ease 5s, color ease 3s;
}
#aultimas article:hover {
    background: rgba(75,100,0,.25);
}

/* AREAS Section */
#aareas {
    background: url(http://source.unsplash.com/random?book) no-repeat center center fixed;
    background-size: cover;    
}
#aareas article {
    min-height: 100vh;
    color: white;
    background: rgba(0,100,100,.95);
    transition: background ease 5s, color ease 3s;
}
#aareas article:hover {
    background: rgba(0,100,100,.25);
}

/* ACTIVIDADES Section */
#aactividades {
    background: url(http://source.unsplash.com/random?laboratory) no-repeat center center fixed;
    background-size: cover;    
}
#aactividades article {
    min-height: 100vh;
    color: #fff;
    background: rgba(0,255,200,.95);
    transition: background ease 5s, color ease 3s;
}
#aactividades article:hover {
    background: rgba(0,255,200,.25);
}

/* FESTAS Section */
#afestas {
    background: url(http://source.unsplash.com/random?party) no-repeat center center fixed;
    background-size: cover;    
}
#afestas article {
    min-height: 100vh;
    color: #fff;
    background: rgba(255,100,0,.95);
    transition: background ease 5s, color ease 3s;
}
#afestas article:hover {
    background: rgba(255,100,0,.25);
}

/* PROJECTOS Section */
#aprojectos {
    background: url(http://source.unsplash.com/random?measure) no-repeat center center fixed;
    background-size: cover;    
}

#aprojectos article {
    min-height: 100vh;
    color: #fff;
    background: rgba(255,0,155,.95);
    transition: background ease 5s, color ease 2s;
}
#aprojectos article:hover {
    background: rgba(255,0,155,.25);
}

/* CONTATOS Section */
#acontactos {
    background: url(http://source.unsplash.com/random?measure) no-repeat center center fixed;
    background-size: cover;    
}
#acontactos article {
    min-height: 80vh;
    color: #fff;
    background: rgba(155,255,0,.3);
    transition: background ease 5s;
}
#acontactos article:hover {
    background: none;
}


/* SUMMARIES */
.summaries {
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow: scroll;
}

.summaries .summary {
    width: 41%;
    height: 35vh;
    margin: 1%;
    border: 1em solid #fff;
    float: left;
    background: rgba(255,255,255,.2);
    color: #777;
    transition: border-color ease-in-out 1s;
}
.summaries .summary:nth-child(odd):hover {
    border-color: rgba(255,0,0,.5);
}
.summaries .summary:hover {
    border-color: rgba(255,255,0,.5);
}

.summaries figure figcaption {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    transition: font-size ease-in-out 1s;
    overflow: hidden;
}

.summaries figure figcaption:hover {
    font-size: 1.8em;
}

/*footer*/

footer {
    width: 100%;
    background: rgba(0, 0, 6, .9);
    padding: 20px 0;
    color: beige;
    text-align: center;
    font-weight: 100;
}

footer h2 {
    padding-left: 5%;
    margin: 0;
    line-height: 30px;
    font-weight: 600;
    font-size: 24px;
}